.navbar-fixed-top {
	position: sticky;
	position: -webkit-sticky;

	top: 0;
	z-index: 10;
	background: black; /*linear-gradient(45deg, rgba(255, 189, 59, 1), rgba(255, 55, 134, 1)), fixed;*/ 
	overflow: hidden;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.navbar-fixed-top a {	
	float: left;
	/*color: orange;*/
	text-align: center;	
	text-decoration: none;
	padding: 14px 16px;
	background: linear-gradient(45deg, #f3ec78, #af4261);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-size: 3rem;

}

.navbar-fixed-top a:hover {
	background: linear-gradient(45deg, rgba(251, 255, 0, 1), rgba(255, 27, 0, 1));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}


.navbar-fixed-top a.active {
	background: linear-gradient(45deg, rgba(0, 11, 255, 1), rgba(215, 0, 215, 1));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.header {
	width: 100%;
	height: 50%;
	padding: 60px 0;
	background-color: #000;
	text-align: center;
	vertical-align: middle;
	color: white;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

}

.grid-container {
	display: grid;
	grid-gap: 25px;
	margin-top: 60px;
	padding: 25px;
}

div.card {
	position: relative;
	float: center;
	width: 75%;
	min-width: 200px;
	min-height: 200px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	background-color: white;
	border-radius: 7px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	padding: 20px;
}

div.container {
	background: linear-gradient(45deg, rgba(251, 255, 0, 1), rgba(255, 27, 0, 1));
	background-clip: text;
	text-align: center;
	font-size: 1.5rem;
	vertical-align: middle;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	margin: 10px;
}

div.title {
	background: linear-gradient(45deg, rgba(0, 11, 255, 1), rgba(215, 0, 215, 1));
	background-clip: text;
	text-align: left;
	font-size: 2rem;
	vertical-align: top;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	margin: 10px;
	display: inline-block;
}

div.text-green {
	animation: gradient-animation 5s ease infinite;
	background: linear-gradient(90deg, rgba(59, 255, 255, 1), rgba(39, 139, 215, 1), rgba(215, 0, 215, 1), rgba(251, 255, 0, 1) );	
	background-size: 300% 100%;
	background-clip: text;
	text-align: center;
	font-size: 10rem;
	vertical-align: middle;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	margin: 10px;
	display: inline-block;
}

form input {
	background: linear-gradient(45deg, rgba(251, 255, 0, 1), rgba(255, 27, 0, 1));
	background-clip: text;
	font-size: 1rem;
}

.bar-bottom {
	bottom: 0;
	width: 100%;
	background: #000;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
	padding: 15px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	align: center;	
}

.bar-bottom a {	
	text-align: center;	
	text-decoration: none;
	background: linear-gradient(45deg, #f3ec78, #af4261);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-size: 1rem;
}

.bar-bottom  a:hover {
	background: linear-gradient(45deg, rgba(251, 255, 0, 1), rgba(255, 27, 0, 1));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}


.scale-on-hover {
	transition: transform 0.2s ease-in-out;
	-moz-transition: -moz-transform 0.2s ease-in-out;
	display: inline-block;
}
.scale-on-hover:hover{
	transform: scale(1.01);
	-moz-transform: scale(1.01);
}

@keyframes gradient-animation {
	0% {
	/*background: linear-gradient(45deg, rgba(59, 255, 255, 1) 0%, rgba(39, 139, 215, 1) 100%);
	background-clip: text;*/
	background-position: 0 0;	
	}
	50% {
	/*background: linear-gradient(45deg, rgba(59, 114, 255, 1) 0%, rgba(68, 242, 0, 1) 100%);*/
	background-position: 100% 0;
	}
	100% {
	/*background: linear-gradient(45deg, rgba(59, 255, 255, 1) 0%, rgba(39, 139, 215, 1) 100%);
	background-clip: text;*/
	background-position: 0 0;	
	}
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	/*background: linear-gradient(45deg, rgba(255, 189, 59, 1), rgba(255, 55, 134, 1)), fixed; */
	background-repeat: no-repeat;
	background-size: contain;
	font-family: sans-serif;
	scroll-behavior: smooth;
}


